<a href="https://colab.research.google.com/github/Binghi/my_projects/blob/master/Predict_date_occurence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import datetime
import numpy as np

In [0]:
dates = pd.date_range('1900-06-01', periods=201, freq=pd.DateOffset(months=12))
day = dates.day_name()
#date_and_day['day'] = dates.day_name()
#day_and_date

In [114]:
# Selecting June 1st 2020 from DataFrame to determine if it's true:
date_and_day.loc[date_and_day['date'] == '2020-06-01']

          date     day
120 2020-06-01  Monday

In [116]:
# All past or next occurance of June 1st on a Monday between years 1900 and 2100:
past_next_occur = date_and_day.loc[date_and_day['day'] == 'Monday']
past_next_occur

          date     day
3   1903-06-01  Monday
8   1908-06-01  Monday
14  1914-06-01  Monday
25  1925-06-01  Monday
31  1931-06-01  Monday
36  1936-06-01  Monday
42  1942-06-01  Monday
53  1953-06-01  Monday
59  1959-06-01  Monday
64  1964-06-01  Monday
70  1970-06-01  Monday
81  1981-06-01  Monday
87  1987-06-01  Monday
92  1992-06-01  Monday
98  1998-06-01  Monday
109 2009-06-01  Monday
115 2015-06-01  Monday
120 2020-06-01  Monday
126 2026-06-01  Monday
137 2037-06-01  Monday
143 2043-06-01  Monday
148 2048-06-01  Monday
154 2054-06-01  Monday
165 2065-06-01  Monday
171 2071-06-01  Monday
176 2076-06-01  Monday
182 2082-06-01  Monday
193 2093-06-01  Monday
199 2099-06-01  Monday

In [117]:
select_few_occurances = past_next_occur.loc[109:137, :]
select_few_occurances

          date     day
109 2009-06-01  Monday
115 2015-06-01  Monday
120 2020-06-01  Monday
126 2026-06-01  Monday
137 2037-06-01  Monday