<a href="https://colab.research.google.com/github/Binghi/my_projects/blob/master/Project_for_Analysis_of_Electric_Car_Usage_in_Paris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [README.md](https://github.com/Binghi/my_projects/blob/master/README.md)
# Project for Analysis of Electric Car Usage in Paris
# Data Understanding

In [0]:
# Importing Pandas Library:
import pandas as pd
#
# Importing Numpy Library:
import numpy as np

In [0]:
# Importing the electric car usage dataset(Autolib_dataset.csv) 
# onto the analysis environment:
Autolib_dataset = pd.read_csv('Autolib_dataset.csv')

In [3]:
# Prviewing the Autolib_dataset to undertand the dataset:
print((Autolib_dataset).head(10))
print(Autolib_dataset.info())

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB
None

In [4]:
# Previewing all the columns:
All_collumns = Autolib_dataset.columns
print(All_collumns)

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [5]:
# Checking the number of missing values in each column:
#
Autolib_dataset.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# Data Preparation

In [6]:
# Cleaning the Autolib dataset by dropping columns of data that will not be needed for this analysis:
# Also dropping columns with a lot of null value but will not be needed for the analysis:
Autolib = Autolib_dataset.drop(['Address', 'Cars', 'Utilib counter','Utilib 1.4 counter', 
                                'Charge Slots', 'Charging Status','Displayed comment','ID', 
                                 'Geo point', 'Postal code', 'Public name', 'Scheduled at',
                                'Station type'], axis=1)
Autolib.head(3)

   Bluecar counter        City     Kind Rental status  ...  month day hour  minute
0                0       Paris  STATION   operational  ...      4   8   11      43
1                6       Paris  STATION   operational  ...      4   6    7      24
2                3  Le Bourget  STATION   operational  ...      4   3   20      14

[3 rows x 12 columns]

In [7]:
# Identifying if there are duplicates from the cleaned Autolib dataset for possible removal:
duplicate_Autolib = Autolib.duplicated()
print(duplicate_Autolib)
#
# this returns that there are no duplicates in the dataset.

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [8]:
# formatting the columns heads from Autolib to be uniform to make data analysis easier:
Autolib.columns = Autolib.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
Autolib.head(3)

   bluecar_counter        city     kind rental_status  ...  month day hour  minute
0                0       Paris  STATION   operational  ...      4   8   11      43
1                6       Paris  STATION   operational  ...      4   6    7      24
2                3  Le Bourget  STATION   operational  ...      4   3   20      14

[3 rows x 12 columns]

In [10]:
# Previewing the dataset to see the column data types:
print(Autolib.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bluecar_counter      5000 non-null   int64
 1   city                 5000 non-null   object
 2   kind                 5000 non-null   object
 3   rental_status        5000 non-null   object
 4   slots                5000 non-null   int64
 5   status               5000 non-null   object
 6   subscription_status  5000 non-null   object
 7   year                 5000 non-null   int64
 8   month                5000 non-null   int64
 9   day                  5000 non-null   int64
 10  hour                 5000 non-null   int64
 11  minute               5000 non-null   int64
dtypes: int64(7), object(5)
memory usage: 468.9+ KB
None

In [11]:
# Converting Autolib columns in int('year','month','day, 'hour','minute') to str in 
# proparation for joining the columns:
#
autolib_convert = {'year': str, 
                'month': str,
                'day': str,
                'hour': str,
                'minute': str
               } 
  
Autolib = Autolib.astype(autolib_convert) 
print(Autolib.dtypes) 
#
# now joining ['year','month','day] columns into 'date' columns:
#
Autolib['date'] = Autolib[['year', 'month', 'day']].apply(lambda x: '-'.join(x), axis = 1)
#
# and joining ['hour','minute'] columns into 'time' columns:
#
Autolib['time'] = Autolib[['hour', 'minute']].apply(lambda x: ':'.join(x), axis = 1)
#
# now joining the newly create 'date' and 'time' columns into one 
Autolib['date_time'] = Autolib[['date', 'time']].apply(lambda x: ' '.join(x), axis = 1)
# Previewing to see if new joined columns of 'date' and 'time' have been created:
print(Autolib)

bluecar_counter         int64
city                   object
kind                   object
rental_status          object
slots                   int64
status                 object
subscription_status    object
year                   object
month                  object
day                    object
hour                   object
minute                 object
dtype: object
      bluecar_counter                city  ...   time       date_time
0                   0               Paris  ...  11:43  2018-4-8 11:43
1                   6               Paris  ...   7:24   2018-4-6 7:24
2                   3          Le Bourget  ...  20:14  2018-4-3 20:14
3                   3               Paris  ...   4:37   2018-4-4 4:37
4                   3               Paris  ...  17:23  2018-4-8 17:23
...               ...                 ...  ...    ...             ...
4995                2            Colombes  ...  11:26  2018-4-6 11:26
4996                4               Paris  ...  16:56  2018-4-4 16:56
4997                1               Paris  ...    7:1    2018-4-1 7:1
4998                2  Fontenay-Sous-Bois  ...  17:27  2018-4-4 17:27
4999                4               Paris  ...   10:2   2018-4-8 10:2

[5000 rows x 15 columns]

In [13]:
# Dropping single columns of 'year','month','day, 'hour','minute':
#
new_autolib = Autolib.drop(['year','month','day', 'hour', 'minute','date','time'], axis = 1)
new_autolib.head(3)

   bluecar_counter        city  ... subscription_status       date_time
0                0       Paris  ...         nonexistent  2018-4-8 11:43
1                6       Paris  ...         nonexistent   2018-4-6 7:24
2                3  Le Bourget  ...         nonexistent  2018-4-3 20:14

[3 rows x 8 columns]

In [15]:
# Dropping rows that do not have 'city' as 'Paris' since focus to meet the objectives is on Paris:
#
new_autolib.drop(new_autolib[new_autolib['city'] != 'Paris'].index, inplace = True)
# Also dropping rows not having 'rental_status' as 'operational' since they wont be relevant for the analysis:
#
new_autolib.drop(new_autolib[new_autolib['rental_status'] != 'operational'].index, inplace = True)
# Dropping rows that do not have 'subscription_status' as 'operational' as they wont be relevant for the analysis:
new_autolib.drop(new_autolib[new_autolib['subscription_status'] != 'operational'].index, inplace = True)
# Previewing the result:
new_autolib.head(3)

    bluecar_counter   city   kind  ... status  subscription_status      date_time
20                3  Paris  SPACE  ...     ok          operational  2018-4-5 6:16
79                0  Paris  SPACE  ...     ok          operational  2018-4-2 3:38
85                0  Paris  SPACE  ...     ok          operational  2018-4-1 7:55

[3 rows x 8 columns]

In [16]:
# previewing the resulting data:
print(new_autolib.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 20 to 4973
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bluecar_counter      96 non-null     int64
 1   city                 96 non-null     object
 2   kind                 96 non-null     object
 3   rental_status        96 non-null     object
 4   slots                96 non-null     int64
 5   status               96 non-null     object
 6   subscription_status  96 non-null     object
 7   date_time            96 non-null     object
dtypes: int64(2), object(6)
memory usage: 6.8+ KB
None

In [0]:
# Changing the date_time column to datetime data type:
# 
new_autolib.date_time = pd.to_datetime(new_autolib.date_time)
#####print(new_autolib.info())
####new_autolib.head(3)

In [0]:
# Splitting the date_time column to date and time:
# 
new_autolib['date'] = [d.date() for d in new_autolib.date_time]
new_autolib['time'] = [d.time() for d in new_autolib.date_time]
new_autolib['date'] = pd.to_datetime(new_autolib['date'])
new_autolib['time'] = pd.to_datetime(new_autolib['time'], format='%H:%M:%S:%f', errors = 'ignore')

In [20]:
# Previewing to see if changes have been effected:
print(new_autolib.info())
new_autolib.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 20 to 4973
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bluecar_counter      96 non-null     int64
 1   city                 96 non-null     object
 2   kind                 96 non-null     object
 3   rental_status        96 non-null     object
 4   slots                96 non-null     int64
 5   status               96 non-null     object
 6   subscription_status  96 non-null     object
 7   date_time            96 non-null     datetime64[ns]
 8   date                 96 non-null     datetime64[ns]
 9   time                 96 non-null     object
dtypes: datetime64[ns](2), int64(2), object(6)
memory usage: 8.2+ KB
None

    bluecar_counter   city   kind  ...           date_time       date      time
20                3  Paris  SPACE  ... 2018-04-05 06:16:00 2018-04-05  06:16:00
79                0  Paris  SPACE  ... 2018-04-02 03:38:00 2018-04-02  03:38:00
85                0  Paris  SPACE  ... 2018-04-01 07:55:00 2018-04-01  07:55:00

[3 rows x 10 columns]

# Analysis

In [21]:
# Determining when bluecars are likely to be shared based on bluecar count in 
# stations, when bluecar count is zero:
bluecar_not_on_station = new_autolib[new_autolib.bluecar_counter == 0]
# previewing:
bluecar_not_on_station[:4]

     bluecar_counter   city     kind  ...           date_time       date      time
79                 0  Paris    SPACE  ... 2018-04-02 03:38:00 2018-04-02  03:38:00
85                 0  Paris    SPACE  ... 2018-04-01 07:55:00 2018-04-01  07:55:00
90                 0  Paris  PARKING  ... 2018-04-06 07:09:00 2018-04-06  07:09:00
157                0  Paris    SPACE  ... 2018-04-08 00:38:00 2018-04-08  00:38:00

[4 rows x 10 columns]

In [22]:
# Creating a DatetimeIndex to be used in determining the hours when there are no bluecar on station:
bluecar_not_on_station.set_index(bluecar_not_on_station["date_time"],inplace=True)
# Previewing:
bluecar_not_on_station[:4]

                     bluecar_counter   city  ...       date      time
date_time                                    ...
2018-04-02 03:38:00                0  Paris  ... 2018-04-02  03:38:00
2018-04-01 07:55:00                0  Paris  ... 2018-04-01  07:55:00
2018-04-06 07:09:00                0  Paris  ... 2018-04-06  07:09:00
2018-04-08 00:38:00                0  Paris  ... 2018-04-08  00:38:00

[4 rows x 10 columns]

In [23]:
# Determining the number of counts when there is no bluecar on station based on hours:
bluecar_not_on_station['bluecar_counter'].resample('H').count().sort_values(ascending = False)

date_time
2018-04-01 06:00:00    2
2018-04-07 02:00:00    2
2018-04-06 07:00:00    2
2018-04-09 20:00:00    1
2018-04-05 05:00:00    1
                      ..
2018-04-06 01:00:00    0
2018-04-06 00:00:00    0
2018-04-05 23:00:00    0
2018-04-05 22:00:00    0
2018-04-05 12:00:00    0
Name: bluecar_counter, Length: 208, dtype: int64